@font-face {
  font-family: "MetropolisRegular";
  src: url("fonts/metropolis/metropolisregular.woff2") format("woff2");
}
  
 @font-face { font-family: "Metropolis";
  src: url("fonts/metropolis/metropolisblack.woff") format("woff");
}
  
 @font-face { font-family: "WremenaRegular";
  src: url("fonts/wremena/wremenaregular.woff") format("woff");
}
  
 @font-face { font-family: "Glacial Indifference";
  src: url("fonts/glacialindifference/glacialindifferencebold.otf") format("otf");
}


h1 {
  text-align: center;
  color: #4c4b63;
  font-family: "Metropolis", Arial, sans-serif;
  font-size: 3rem;
}

h2 {
  text-align: center;
  color: #4c4b63;
  font-family: "MetropolisRegular", Arial, sans-serif;
  font-size: 2rem;
}

h3 {
  text-align: center;
  color: #4c4b63;
  font-family: "MetropolisRegular", Arial, sans-serif;
  font-size: 1.8rem;
}

h4 {
  text-align: center;
  color: #4c4b63;
  font-family: "MetropolisRegular", Arial, sans-serif;
  font-size: 1.5rem;
}

p {
  text-align: center;
  color: #4c4b63;
  font-family: "WremenaRegular", Times, serif;
  font-size: 1.3rem;
}

ol {
text-align: center;
display:inline-block;
  color: #4c4b63;
  font-family: "WremenaRegular", Times, serif;
  font-size: 1.3rem;}
  
  ul {
  text-align: center;
  display:inline-block;
  color: #4c4b63;
  font-family: "WremenaRegular", Times, serif;
  font-size: 1.3rem;}

body {
	background-color: #fcbfb7;
	}
	